.result {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    background: white;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}
.win {
    color: #04a704;
    
}

.lose {
    color: rgb(221, 10, 10);
}